/* ==========================================================================
   Headings
   ========================================================================== */

.c-site-heading {
  font-size: 1.5rem;
  font-weight: 400;
  color: $white;

  @include respond-to(large) {
    font-size: 2rem;
  }
}

.c-section-heading {
  margin-bottom: $space-xl;

  font-size: 1rem;
  text-transform: uppercase;
}

.c-subsection-heading {
  margin-bottom: $space-xl / 2;

  font-family: $title-font-stack;
  font-size: 1.875rem;
  font-weight: 900;
  text-align: left;

  @include respond-to(large) {
    font-size: 2rem;
  }

  &::after {
    content: '';
    display: block;

    width:  25px;
    height: 4px;
    margin-top: $space-s / 2;
    background-color: $primary-color;
  }
}

.c-inner-heading {
  margin: $space-xl / 2 0 $space-s 0;

  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;

  &--margin-top-0 {
    margin-top: 0;
  }
}