/* ==========================================================================
   Sass variables
   ========================================================================== */

/* Fonts
   ========================================================================== */

/**
 * Regular font family
 *
 * @type List
 */

$text-font-stack: 'Raleway', 'Arial', 'Helvetica', sans-serif;

/**
 * Heading font family
 *
 * @type List
 */

$heading-font-stack: 'Catamaran', 'Arial', 'Helvetica', sans-serif;

/**
 * Title's font family
 *
 * @type String
 */

$title-font-stack: 'Gilroy', 'Arial', 'Helvetica', sans-serif;

/* Colors
   ========================================================================== */

/**
 * Black
 *
 * @type Color
 */

$black: hsl(0, 0%, 13%);


/**
 * Grey
 *
 * @type Color
 */

 $dark-grey: hsl(225, 4%, 64%);

/**
 * Grey
 *
 * @type Color
 */

$grey: hsl(0, 0%, 86%);

 /**
  * Light grey
  *
  * @type Color
  */

$light-grey:hsl(0, 0%, 95%);

/**
* White
*
* @type Color
*/

$white: hsl(0, 0%, 100%);

/**
 * Sunray color
 *
 * @type Color
 */

$sunray-color: hsl(37, 80%, 64%);

/**
 * Blue
 *
 * @type Color
 */

$blue:hsl(244, 42%, 46%);

/**
 * Background color
 *
 * @type Color
 */

$background-color: $light-grey;

/**
 * Text color
 *
 * @type Color
 */

$text-color: $black;

/**
 * Primary color
 *
 * @type Color
 */

$primary-color: $blue;

/**
 * Primary color
 *
 * @type Color
 */

 $secondary-color: $sunray-color;

/* Spacing
   ========================================================================== */

/**
 * Container's maximum width
 *
 * @type Length
 */

$max-width: 1440px;

/**
 * Space system
 *
 * @type Length
 */

$space-m: 20px;
$space-s: $space-m / 2;
$space-l: $space-m * 2;
$space-xl: $space-m * 3;
$space-xxl: $space-m * 6;

/**
 * Breakpoints map
 *
 * @prop {String} keys - Keys are identifiers mapped to a given length
 * @prop {Map} values - Values are actual breakpoints expressed in pixels
 */

$breakpoints: (
  'small': (min-width: 576px),
  'medium': (min-width: 768px),
  'large': (min-width: 992px),
  'huge': (min-width: 1200px),
);